zombie2/zombie2/monkey/schema/missionmaster.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

  <xsd:element name="root" type="rootType" />

  <xsd:complexType name="rootType">
    <xsd:sequence>
      <xsd:element name="missionList" type="missionListType"/>
      <xsd:element name="genericSequenceList" type="missionListType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="missionListType">
    <xsd:sequence>
      <xsd:element name="file" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>